.carousel-caption {
    position: absolute;
        top: 5%;
        left: 0%;
    width:100%;
    height:mvh;

}

.absolute-div {
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
}

.carousel-caption h3 {
    /* display:table-cell; */
    vertical-align: center;
    text-align:center;
}

.item {
    position:relative;
}

.mainShape {
    height: 115%;
    width: 60%;
    background-color: #08080842;
    border-radius: 10px;
    padding: 2%;

}


.mainTitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 5vw;
    position: relative;
        top: 20%;

}

.otherTitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 3vw;
    position: relative;
    

}

.info{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 2.5vw;
    font-style: italic;
    position: relative;
        top: 25%;
}

.aboutMe{
    height: min-content;
    width: 100%;
    position: relative;
        top: 3vh;
    background-color: #08080842;
    border-radius: 10px;
    /* transition: transform 2s; Animation */
}

#p1{
    max-width: fit-content;
}

.frontPageShape{
    position: fixed;
        top: 30%;
        left: 25%;
    height: auto;
    width: 20%; 
    background-color: #535353;
    border-radius: 50%;
    padding: 2%;
    padding-top: 20%;
}

.fullPageShape{
    position:fixed;
        top:0;
        left:0;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

#fullPageShape{
    position: fixed;
        top: 46.5%;
        left: 31%;
    text-align: left;
    font-size: 3.5vw;   
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#frontPageHeader1{
    position: fixed;
        top: 62%;
        left: 41%;
    text-align: left;
    font-size: 1.2vw;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#92cdaf;
}

#frontPageHeader2{
    position: fixed;
        top: 65%;
        left: 41%;
    width:50%;
    text-align: left;
    font-size: 1.2vw;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
}


.lboroShape{
    height: min-content;
    width: 33%;
    /* display: inline-block; */
    position: relative;
        left: 0;
        top: 5vh;
    background-color: #08080842;
    border-radius: 10px;
    padding: 2%;
    /* transition: transform 2s; Animation */
}

.lboro{
    display: none;
}

.petrocShape{
    height: min-content;
    width: 33%;
    /* display: inline-block; */
    position: relative;
        left: 0;
        top: 5vh; 
        /* left: 33%; */
    background-color: #08080842;
    border-radius: 10px;
    padding: 2%;
}

.petroc{
    display:none;
}

.brauntonShape{
    height: min-content;
    width: 33%;
    display:inline-block;
    position: relative;
        top: 20vh; 
        /* left: 66%; */
    background-color: #08080842;
    border-radius: 10px;
    padding: 2%;
}

.braunton{
    display:none;
}

.photoLibrary{
    width:100;
    display: inline-block;
    position: fixed;
        right:3%;
        bottom: 10vh;
  
}

#skillPhotos{
    margin-left: 3%;
}

#linkedInLogo{
    position:fixed;
        right: 17%;
        top:8%;
}